# Project exclude paths
/mall-backend/mall-app/target/
/mall-backend/mall-cart/target/
/mall-backend/mall-common/target/
/mall-backend/mall-inventory/target/
/mall-backend/mall-order/target/
/mall-backend/mall-payment/target/
/mall-backend/mall-product/target/
/mall-backend/mall-user/target/
/docs/.obsidian
/mall-frontend/node_modules/
/mall-frontend/dist/
/.worktrees/
